<aside class="sidebar sidebar--index" role="complementary">

    <img class="avatar" src="{{ .Site.Params.avatar }}" alt="{{ .Site.Title }}">

    <div class="contacts">
        {{ if .Site.Params.social }}
            {{ if .Site.Params.social.twitter }}
            <a href="https://twitter.com/{{.Site.Params.social.twitter}}" title="Twitter">Twitter</a>
            {{ end }}
            |
            {{ if .Site.Params.social.github }}
            <a href="https://github.com/{{.Site.Params.social.github}}" title="GitHub">GitHub</a>
            {{ end }}
            |
            {{ if .Site.Params.social.linkedin }}
            <a href="https://www.linkedin.com/in/{{.Site.Params.social.linkedin}}" title="LinkedIn">LinkedIn</a>
            {{ end }}
        {{ end }}

        <br>

        or drop me an email to
        <br>
        <a href="mailto:{{.Site.Params.social.email}}">{{.Site.Params.social.email}}</a>
    </div>
</aside>
