.posts {
    padding: 0;
    list-style: none;
    width: 100%;
}

.post {
    display: flex;
    padding: .25rem 0;

    &__time {
        margin-right: 1rem;
        width: 7rem;
    }

    &__link {
        padding-left: 1rem;
        flex: 1;
    }
}
