

.header {
    border-bottom: 1px solid #e1e4e8;
    background-color: #fafbfc;
    margin-bottom: 2rem;

    &__in {
        max-width: $site-width-mobile;

        @media screen and (min-width: $site-width-desktop) {
            max-width: $site-width-desktop;
            flex-direction: row;
            @include padding(0 2rem);
        }

        @media screen and (max-width: $site-width-desktop) {
            @include padding(0 1rem);
        }

        @include margin(0 auto);
        display: flex;
        justify-content: space-between;
    }
}

.footer {
    border-top: 1px solid #e1e4e8;
    background-color: #fafbfc;
    margin-top: 2rem;
    font-size: 0.75em;
    padding: 1rem;
    text-align: center;
}
