$mobile-breakpoint: 768px;

$site-width-mobile: 768px;
$site-width-desktop: 768px;

$base-font-size: 1.125em !default;

// @media screen and (min-width: $site-width-desktop) {
//     $base-font-size: 1.125em !default;
// }
// @media screen and (max-width: $site-width-desktop) {
// }


$bourbon: (
    'modular-scale-base': $base-font-size,
    'modular-scale-ratio': $minor-third
);

$base-font-weight: 400 !default;

// Colors
$text-color: #073642 !default;
$bg-color: #fff !default;
$link-color: #268bd2 !default;
$link-hover-color: darken($color: #268bd2, $amount: 10) !default;
