$base-font-size: 1.0625em !default;

$bourbon: (
    'modular-scale-base': $base-font-size,
    'modular-scale-ratio': $minor-third
);

$base-font-weight: 400 !default;

// Colors
$text-color: #073642 !default;
$bg-color: #fff !default;
$link-color: #268bd2 !default;
$link-hover-color: darken($color: #268bd2, $amount: 10) !default;
