$site-width: 768px;

$base-font-size: 1rem !default;
$serif-font: Merriweather, Palatino, "Palatino Linotype", serif;
$mono-font: 'IBM Plex Mono', Menlo, Consolas, monospace;

$bourbon: (
    'modular-scale-base': $base-font-size,
    'modular-scale-ratio': $major-second
);

$base-font-weight: 400 !default;
$base-line-height: 1.7 !default;

// Colors
$text-color: #073642 !default;
$bg-color: #fff !default;
$link-color: #268bd2 !default;
$link-hover-color: darken($color: #268bd2, $amount: 10) !default;
$blockquote-bg: #eee8d5;
$code-color: #859900;
$muted-color: #93a1a1;

$separator-color: #e1e4e8;


// Content
$heading-color: #6c71c4;
