@import 'bourbon';
@import 'neat';
@import 'node_modules/normalize.css/normalize';

@import 'variables';

@import 'base';
@import 'layout';

@import 'blog';

@import 'components/navigation';
@import 'components/widgets';

@import 'code';


.wrapper {
    max-width: $site-width-mobile;
    flex-direction: column;

    @media screen and (min-width: $site-width-desktop) {
        max-width: $site-width-desktop;
        flex-direction: row;
    }

    @include margin(0 auto);
    @include padding(0 2rem);
    display: flex;
    justify-content: space-between;
}

.content-container {
    min-height: 70%;
    min-height: calc(100vh - 62px - 55px - 4rem);
}

.content {
    flex: 1;
    min-width: 0;

    p:first-child {
        margin-top: 0;
    }
}

.sidebar {
    display: flex;
    flex-flow: column;
    flex: 1;
    border-bottom: 1px dotted #777;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: $site-width-desktop) {
        border-bottom: 0;
        margin-left: 2rem;
        &--index {
            margin-left: 0;
            margin-right: 2rem;
        }

        flex: 0 0 215px;
    }

    .widget {


        border-bottom: 1px dotted #ddd;

        ul {
            padding: 0;
            list-style-position: inside;
        }
    }
    .widget:last-child { margin-bottom: 0; border-bottom: 0; }
}

.logo {
    align-self: center;
    color: $text-color;
    line-height: 0.75;

    small {
        font-size: modular-scale(-3);
        color: #93a1a1;
    }
}

.social-list {
    display: flex;
    justify-content: center;
}

.social {
    font-size: modular-scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    color: $text-color;
    border-radius: 50%;
    margin: .5rem .25rem;

    transition: .3s ease-out;

    &:hover {
        background-color: $link-color;
        color: #fff;
    }
}

.avatar-container  {
    text-align: center;
}

.avatar {
    max-width: 215px;
    border: 1px solid #f5f5f5;
}
