@import 'bourbon';
@import 'node_modules/normalize.css/normalize';

@import 'variables';
@import 'mixins';

@import 'base';
@import 'layout';

@import 'blog';

@import 'navigation';

.wrapper {
    max-width: $site-width;
    width: 100%;
    margin: 0 auto;
    display: flex;

    @include desktop() {
        padding: 0 2rem;
        justify-content: space-between;
    }

    @include mobile() {
        flex-direction: column;
        padding: 0 1rem;
        justify-content: flex-start;
    }
}

.content-container {
    flex: 1 0 auto;
}

.content {
    flex: 1;
    min-width: 0;

    p:first-child {
        margin-top: 0;
    }
}

.sidebar {
    display: flex;
    flex-flow: column;
    flex: 0 0;
    border-bottom: separator(dotted);
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @include desktop() {
        border-bottom: 0;
        margin-left: 2rem;
        &--index {
            margin-left: 0;
            margin-right: 2rem;
        }
    }
}

.contacts {
    border-top: separator(dotted);
    padding-top: 1rem;
    text-align: center;
    font-size: modular-scale(-2);
}

.logo {
    align-self: center;
    color: $text-color;
    line-height: 1;

    @include mobile() {
        text-align: center;
        margin-top: 1rem;
    }

    small {
        font-size: modular-scale(-3);
        color: $muted-color;
    }
}

.avatar {
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 215px;
    border: 1px solid #f5f5f5;
}

.highlight > pre {
    padding: 1rem;
    overflow: auto;

    @include mobile() {
        margin: 0 -1rem;
    }
}
