<aside class="sidebar" role="complementary">
    <div class="widget">
        <header class="widget__title">Posted on:</header>

        <div class="widget__body">
            {{ if not .Date.IsZero }}
                <time datetime="{{ .Date.Format ("2006-01-02") -}}">{{ .Date.Format (.Site.Params.dateformat | default "02 January 2006") -}}</time>
            {{ end }}
        </div>
    </div>

    <div class="widget">
        <header class="widget__title">In tags:</header>
        <div class="widget__body">
            {{ with .Params.tags }}
                {{ $total := len . }}
                {{ if gt $total 0 }}
                    {{ $subtotal := sub $total 1 }} <i class="fas fa-tags"></i>
                    {{ range $i, $tag := sort . }}
                    <a class="meta" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>{{ if lt $i $subtotal }} {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>

    <div class="widget widget--related-articles">
        <header class="widget__title">Related articles:</header>
        <div class="widget__body">
                {{ $related := .Site.RegularPages.Related . | first 3 }}
                {{ with $related }}
                <ul>
                    {{ range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
        </div>
    </div>
</aside>
